<ion-header>
    <ion-toolbar mode="ios">
        <ion-buttons>
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title *ngIf="!erreur">
            {{ productName }}
        </ion-title>
        <ion-title *ngIf="erreur">
            Code barre non trouvé
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="!erreur">

    <ion-item>
        <ion-label>
            Code barre: {{ barcode }}
        </ion-label>
    </ion-item>
    <ion-item>
        <ion-label>
            Marque: {{ brands }}
        </ion-label>
    </ion-item>
    <ion-item>
        <ion-label>
            Nom du produit: {{ productName }}
        </ion-label>
    </ion-item>

</ion-content>

<ion-content *ngIf="erreur">
    <h2>Code barre <strong>{{ barcode }}</strong> introuvable!!</h2>
</ion-content>
